* {
  padding: 0%;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
}

h1 {
  text-align: center;
  color: white;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.navbar__container {
  position: fixed;
  width: 100%;
  padding: 8px 64px;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: start;
  z-index: 999;
}

.navbar__logo {
  width: 48px;
  height: 48px;
  display: block;
}

.navbar__logo img {
  height: inherit;
}

.navbar--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}

.navbar__btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
}

.navbar__btn--item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.navbar__btn--item a {
  color: white;
}

.navbar__btn--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 15%;
  height: 48px;
  line-height: 48px;
  color: white;
}

.banner__container {
  padding-top: 64px;
  position: relative;
  width: 100%;
  height: 750px;
  background-color: black;
}

.banner__container img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.banner--right {
  padding: 45px 22px;
  height: 245px;
  width: 341px;
  position: absolute;
  right: 54px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.banner__title--right {
  color: white;
  position: absolute;
  width: 300px;
  height: 55px;
  right: 22px;
  top: 45px;
}

.banner__content--right {
  color: white;
  position: absolute;
  width: 300px;
  height: 55px;
  right: 22px;
  bottom: 54px;
}

.banner--bottom {
  position: absolute;
  bottom: 48px;
  left: 50%;
  width: 480px;
  height: 48px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.banner__slider--bottom {
  position: absolute;
  left: 128px;
  top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 224px;
  height: 32px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.banner--btn {
  color: white;
  width: 32px;
  height: 32px;
}

.banner__intro--right {
  position: absolute;
  width: 408px;
  height: 333px;
  right: 54px;
  top: 233px;
}

.banner__title--intro {
  color: white;
  position: absolute;
  width: 143px;
  height: 55px;
  top: 20px;
  right: 22px;
}

.banner__content--intro {
  position: absolute;
  color: white;
  width: 300px;
  height: 55px;
  right: 22px;
  top: 70px;
}

.banner__btn--intro {
  color: white;
  text-align: end;
  position: absolute;
  width: 143px;
  height: 55px;
  bottom: 51px;
  right: 22px;
}

.banner__news {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 233px;
  height: 274px;
}

.banner__news--btn {
  width: 233px;
  height: 51px;
  color: white;
  text-align: center;
  margin-bottom: 22px;
}

.banner__video--middle {
  height: 392px;
  background-color: gray;
  margin: 48px 54px;
}

.banner__btn--bottom {
  color: white;
  text-align: center;
  position: absolute;
  width: 233px;
  height: 51px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.banner__slider {
  width: 100%;
  height: 434px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner__slider--item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 372px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 352px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.banner__search img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner__search--btn {
  position: absolute;
  text-align: center;
  width: 185px;
  height: 63px;
}

.search__title {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.item__img {
  height: inherit;
}

.item__img img {
  height: inherit;
  width: 100%;
}

.item__title {
  text-align: center;
  width: 185px;
  height: 63px;
  bottom: 0%;
}

.credit__container {
  width: 100%;
  height: 310px;
  background-color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.credit__info {
  color: black;
  background-color: white;
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.credit__blank {
  color: white;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: black;
  padding: 10px 0;
  height: 37px;
  line-height: 37px;
}

.info__poli {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 200%;
}

.info__col img {
  width: 20%;
  height: 20%;
}

.info__contact {
  color: black;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  background-color: #cccccc;
}
/*# sourceMappingURL=myStyle.css.map */